// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.core-menu{
    position: absolute;
    top: 20%;
    left: 22%;
}
.core-bloc{
    background-color: white;
    font-size: 4.5em;
    font-weight: bold;
    height: 5em;
    left: 20%;
    width: 100%;
    opacity: .8;
    padding: 10%;
}

#core-head{
    color: white;
    top:15%;
    font-size: 6em;
    padding: 10%;
}

.core-bloc:hover {
    background-color: grey;
}