// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.core-menu{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
}

.core-bloc{
    background-color: white;
    font-size: 4.5em;
    font-family: Montserrat;
    font-weight: bold;
    height: 5em;
    opacity: .8;
    padding: 15% 10%;
}

#core-head{
    color: white;
    top: 5%;
    font-size: 5em;
    padding: 15%;
}

core-bloc ul {
    height: 5em;
}

.core-bloc:hover {
    background-color: grey;
}